{% extends "layout.html" %}

{% macro login_form() %}
  <h2>Prihlásenie</h2>
  <form action="{{ url_for('login') }}" method="POST">
  <p>Družinka: <select name="druzinka">
    <option value="" selected>--</option>
    {% for id, title, hash in druzinky %}
      <option value="{{ id }}">{{ title }}</option>
    {% endfor %}
  </select></p>
  <p>Heslo: <input type="password" name="heslo"></p>
  <p><input type="submit" value="Prihlásiť"></p>
  </form>
{% endmacro %}

{% macro upload_form() %}
  <form action="{{ url_for('upload') }}" method="POST" enctype="multipart/form-data">
  <div>Upload nového klienta: <input type="file" name="archiv"> <input type="submit" value="Uploadnuť"></div>
  <div style="font-size:0.8em;color:#777;display:block;">
  (Chcem <code>tar.gz</code> obsahujúci zdrojáky a <code>Makefile</code>.
  V adresári svojho klienta ho vyrobíte príkazom <code>make</code>.)</div>
  </form>
{% endmacro %}

{% macro upload_list() %}
  <h2>Moje uploady</h2>
  <table><tbody>
    {% for id, status in uploads[0:uploads_max] %}
      <tr>
        <td><a href="{{ url_for('uploads_download', id=id+'.tar.gz') }}"><code>{{ id }}</code></a></td>
        <td>&larr;
          {% if status == None %}
            (pending)
          {% else %}
            <a href="{{ url_for('uploads_status', id=id) }}">{% if status %}OK{% else %}<strong>Chyba</strong>{% endif %}</a>
          {% endif %}
        </td>
      </tr>
    {% else %}
      <tr>
        <td colspan="2">(zatiaľ žiadne uploady)</td>
      </tr>
    {% endfor %}
  </tbody></table>
  {% if uploads|length > uploads_max %}
    <p><a href="{{ url_for('uploads') }}">Zobraz všetky uploady</a></p>
  {% endif %}
{% endmacro %}

{% block body %}

  <p><a href="{{ url_for('docs') }}">Dokumentácia</a></p>
  <p><a href="{{ url_for('mapy_lister') }}">Mapy</a></p>
  <p><a href="{{ url_for('records') }}">Archív odohratých hier</a></p>
  
  Najnovsiu verziu proboja si viete stiahnut na 10.0.0.10:8000. (Posledna zmena bola 9:40 rano.)
  
  {% if config['GIT'] %}
    <p>Alebo mozte pouzit aj git:</p>
    <p><code>git clone {{ config['GIT'] }}</code> &larr; stiahne proboj</p>
    <p><code>git pull</code> &larr; aktualizuje na najnovšiu verziu (spúšťať v adresári "proboj-2016-jesen")</p>
  {% endif %}
  
  <p><b>Vedeli ste, ze:</b> ak v debugovacom vypise napisete "TAH 7" a na dalsom riadku "text",
  tak vam observer zobrazi tento debugovaci vypis v tahu 7? Toto sa vam urcite zide pri debugovani.</p>
  
  <p><b>Tip 2:</b> v observerovi viete stlacit ctrl+ a ctrl-, a tym zvysovat alebo znizovat rychlost prehravania.</p>

  {% if username %}
    <h2>Prihlásená družinka: {{ usertitles[username] }}</h2>
    <form action="{{ url_for('logout') }}" method="POST"><p><input type="submit" value="Odhlásiť"></p></form>
    {{ upload_form() }}
    {{ upload_list() }}
  {% else %}
    {{ login_form() }}
  {% endif %}

  {{ ranklist }}

{% endblock %}
